MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=change_me
MYSQL_DATABASE=agentb

LLM_API_KEY=change_me
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL=glm-4.7
LLM_TEMPERATURE=0.7
LLM_MAX_TOKENS=4096

AGENT_SQL_DEFAULT_DATABASE=BTManager
AGENT_SQL_BT_HOST=127.0.0.1
AGENT_SQL_BT_PORT=3306
AGENT_SQL_BT_USER=root
AGENT_SQL_BT_PASSWORD=change_me

GUNICORN_WORKERS=2
GUNICORN_LOG_LEVEL=info
