.venv/
.dev/
.claude/
AGENTS.md
CLAUDE.md
setting.json
.playwright/
.playwright-cli/
*.yaml

__pycache__/
.agent_states/
*.py[cod]
*$py.class
node_modules/

.temp/

*.db
logs/
Docs/
chroma_db/
*.sqlite*
.codex/
logs/
.env
WorkBranch/models--BAAI--bge-m3/
workspaces/